html, body{
    font-family: 'Courier New', Courier, monospace;
    background-color: blueviolet;
}

#title{
    text-align: center;
    border: 2px solid blueviolet;
    padding: 10px;
    margin: 10px;
    background-color: palevioletred;
    color: blueviolet;
}
#description{
    text-align: center;
    border: 1px solid palevioletred;
    padding: 10px;
    margin: 30px;
    color: palevioletred;
    border-width: 5px;

}
#name, #email, #number{
    width: 50%;
    padding: 3px 3px;
    margin: 8px 0;
    display: inline-block;
    background-color: palevioletred;
    border-radius: 40px;
    box-sizing: border-box;
    text-align: center;
  }
#name-label, #email-label, #number-label{
    color: palevioletred;
   

}